<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %}{{ page.title }} - {% endif %}</title>

        <meta property="og:title" content="Sophia - an embeddable key-value store">
        <meta property="og:site_name" content="Sophia">
        <meta name="description" property="og:description" content="{{ page.description }}">
        <meta property="og:url" content="http://www.sphia.org">
        <meta property="og:type" content="website">

        <meta name="robots" content="index,follow,archive">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        
        <link rel="stylesheet" href="styles/bootstrap.min.css">
        <link rel="stylesheet" href="styles/all.css">
        <link rel="stylesheet" href="styles/syntax.css">
        <link rel="shortcut icon" href="favicon.ico" />
    </head>
    <body>
          
        <div id="header">
          <img src="images/logo.png" width="270px" height="130px"></img><br>
        </div>

        <div id="layout">
          <ul class="nav nav-tabs main">
          {% assign lastIsChild = false %}
          {% for post in site.posts reversed %}
            {% if post.isChild and lastIsChild != true %}<ul>{% endif %}
            {% if lastIsChild and post.isChild != true %}</ul>{% endif %}
            <li><a href="/#{{ post.title | downcase | replace:'*','' | replace:' ','_' | replace:'(','' | replace:')','' | replace:'.','' | replace:'-','' }}" data-toggle="tab" id="nav">{{ post.title }}</a></li>
            {% assign lastIsChild = post.isChild %}
          {% endfor %}
          </ul>


          <div class="tab-content" id="main">
            {{ content }}
          </div>
        </div>

        <div id="footer">
            <p>
              <a href="#contact" data-toggle="tab">Dmitry Simonenko</a>
            </p>
        </div>        
        
        <script src="scripts/jquery.min.js"></script>
        <script src="scripts/bootstrap.min.js"></script>
        <script>
            function asyncScriptLoad( url, id ) {
                var js, fjs = document.getElementsByTagName( 'script' )[0];
                if ( document.getElementById( id ) ) {
                    return;
                }
                js = document.createElement( 'script' );
                js.id = id;
                js.src = url;
                fjs.parentNode.insertBefore( js, fjs );
            }
            var _gaq = [['_setAccount', 'UA-44049120-1'], ['_trackPageview']];
            asyncScriptLoad( '//www.google-analytics.com/ga.js', 'google-analytics' );
            
            $("#home").addClass("active");

            $('a[data-toggle="tab"]').click(function (e) {
              e.preventDefault();
              $(this).tab('show');
            });
        </script>
    </body>
</html>
